@import '~bootstrap/scss/bootstrap';

h1 {
  border: red;
}

.messages {
  border: 1px solid black;
  margin-bottom: 16px;
  padding: 8px 12px;

  .message {
    margin-bottom: 8px;
    padding: 4px 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
